@using TweetHomeAlabama.Application.Models

@model BirdTraits

<!DOCTYPE html>
<html>
<head>    
	<link rel="stylesheet" href="~/StyleSheet.css" type="text/css">
</head >
<body class="body">
	<div class="text-center">
		<h1 class="main-header">Tweet Home Alabama</h1>
	</div>

	<form id="myform" action="bird/getbirds" method="get">
		<input type="checkbox" id="colorsBlue" name="colors" value="Blue">
		<label for="colorBlue"> Blue</label><br>
		<input type="checkbox" id="colorsRed" name="colors" value="Red">
		<label for="colorRed"> Red</label><br>
		<input type="checkbox" id="colorsYellow" name="colors" value="Yellow">
		<label for="colorYellow"> Yellow</label><br>
		<input type="checkbox" id="colorsWhite" name="colors" value="White">
		<label for="colorWhite"> Red</label><br>
		<input type="checkbox" id="colorsBrown" name="colors" value="Brown">
		<label for="colorBrown"> Brown </label><br>
		<input type="checkbox" id="colorsGrey" name="colors" value="Grey">
		<label for="colorGrey"> Grey</label><br>
		<br>
		<input type="checkbox" id="shapeRound" name="shapes" value="Round">
		<label for="shapeRound"> Round</label><br>
		<input type="checkbox" id="shapeBlue" name="shapes" value="Tall">
		<label for="shapeTall"> Tall</label><br>
		<label for="season">Which season was it?</label>
		<select id="season" name="season">
			<option value="winter">Winter</option>
			<option value="spring">Spring</option>
			<option value="summer">Summer</option>
			<option value="fall">Fall</option>
		</select>
		<br><br>
		<label for="size">How big was it?</label>
		<select id="size" name="size">
			<option value="tiny">Tiny</option>
			<option value="small">Small</option>
			<option value="medium">Medium</option>
			<option value="large">Large</option>
		</select>
		<br><br><input type="submit" id="btn" value="Search">
	</form>

	<script>
		$(document).ready(function () {

			$('#btn').submit(function () {

				$.ajax({
					url: 'Bird/GetBirds', 
					type: 'GET',
					timeout: '12000', (optional 12 seconds)
					datatype: 'text',
					data: { 
						colors: colors,
						shape : myform.shape.value,
						size: myform.size.value,
						season: myform.season.value					
					}
				});
			});
		});
	</script>

	<div>
	<style>
		#content {
			position: relative;
		}

			#content img {
				position: absolute;
				top: 0px;
				right: 0px;
				height: 300px;
				width: 200px;
			}
	</style>

	<div id="content">
		<img src="images/Cover.png" class="ribbon" alt="" />
	</div>
	</div>
</body>
</html>

